[submodule "Submodules/MKNetworkKit"]
	path = Submodules/MKNetworkKit
	url = https://github.com/laok/MKNetworkKit.git
[submodule "Submodules/sskeychain"]
	path = Submodules/sskeychain
	url = https://github.com/soffes/sskeychain.git
[submodule "Submodules/JSONKit"]
	path = Submodules/JSONKit
	url = https://github.com/laok/JSONKit.git
[submodule "Submodules/MMDrawerController"]
	path = Submodules/MMDrawerController
	url = https://github.com/laok/MMDrawerController.git
[submodule "Submodules/SDWebImage"]
	path = Submodules/SDWebImage
	url = https://github.com/laok/SDWebImage.git
